*~

#############
## Xilinx ISE
#############
*.html
*.prj
*.syr
*.xst
xst/*
iseconfig/*
_xmsgs/*
*.xml
*.gise
*.xise
*.cmd_log
*.lso
*.xrpt
*.bgn
*.drc
*.ncd
*.pad
*.pcf
*.par
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.ngc
*.bld
xlnx_auto*
_ngo/*
*.ngm
*.map
*.mrp
*.ngr
*.ngd
*.bit
*.log
*.xwbt
*.txt
*.csv
*.stx
*.xpi
